.div-pss,
.div-pss * {
  box-sizing: border-box;
}

.div-pss {
  background: #f3f3f3;
  height: 2721px;
  position: relative;
  overflow: hidden;
}


.input-field-pss {
  background: #e0e0e0;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  width: 810px;
  height: 95px;
  position: absolute;
  left: 555px;
  top: 729px;
  padding: 0 20px;
  font-family: "Raleway-Regular", sans-serif;
  font-size: 32px;
  color: rgba(0, 0, 0, 0.5);
}

.input-field-pss1 {
  background: #e0e0e0;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  width: 810px;
  height: 95px;
  position: absolute;
  left: 555px;
  top: 850px;
  padding: 0 20px;
  font-family: "Raleway-Regular", sans-serif;
  font-size: 32px;
  color: rgba(0, 0, 0, 0.5);
}




.div2-pss {
  color: #000000;
  text-align: center;
  font-family: "Raleway-Bold", sans-serif;
  font-size: 48px;
  font-weight: 700;
  position: absolute;
  left: 772px;
  top: 440px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.rectangle-44-pss {
  background: #00aaad;
  border-radius: 10px;
  border: 1px solid transparent;
  width: 810px;
  height: 95px;
  position: absolute;
  left: 555px;
  top: 896px;
}

.rectangle-441-pss {
  background: #00aaad;
  border-radius: 10px;
  border: 1px solid transparent;
  width: 810px;
  height: 95px;
  position: absolute;
  left: 555px;
  top: 1000px;
}

.div3-pss {
  color: #ffffff;
  text-align: center;
  font-family: "Raleway-Bold", sans-serif;
  font-size: 32px;
  font-weight: 700;
  position: absolute;
  left: 878px;
  top: 924px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.div31-pss {
  color: #ffffff;
  text-align: center;
  font-family: "Raleway-Bold", sans-serif;
  font-size: 32px;
  font-weight: 700;
  position: absolute;
  left: 878px;
  top: 1025px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.div4-pss,
.div5-pss,
.div6-pss {
  color: rgba(0, 0, 0, 0.75);
  text-align: center;
  font-family: "Raleway-Light", sans-serif;
  font-size: 20px;
  font-weight: 300;
  position: absolute;
  top: 333px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.div4-pss {
  left: 138px;
}

.div5-pss {
  left: 400px;
}

.div6-pss {
  left: 629px;
}




.div7-pss {
  color: #00aaad;
  text-align: center;
  font-family: "Raleway-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  text-decoration: underline;
  position: absolute;
  left: 879px;
  top: 1034px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.div71-pss {
  color: #00aaad;
  text-align: center;
  font-family: "Raleway-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  text-decoration: underline;
  position: absolute;
  left: 879px;
  top: 1134px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.div8-pss {
  color: #000000;
  text-align: center;
  font-family: "Raleway-Light", sans-serif;
  font-size: 24px;
  font-weight: 300;
  position: absolute;
  left: 275px;
  top: 593px;
  width: 1368px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.rectangle-39, .e-mail {
  display: none;
}

._2-d,
._2-d * {
  box-sizing: border-box;
}
._2-d {
  background: #f3f3f3;
  height: 2693px;
  position: relative;
  overflow: hidden;
}
.vector-2-d {
  width: 1641px;
  height: 0px;
  position: absolute;
  left: 135px;
  top: 530px;
  transform: translate(0px, -0.5px);
  overflow: visible;
}
.vector-11-d {
  width: 1641px;
  height: 0px;
  position: absolute;
  left: 135px;
  top: 402px;
  transform: translate(0px, -0.5px);
  overflow: visible;
}
.div-d {
  color: #000000;
  text-align: center;
  font-family: "Raleway-Bold", sans-serif;
  font-size: 48px;
  font-weight: 700;
  position: absolute;
  left: 670px;
  top: 440px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div2-d {
  color: #00aaad;
  text-align: center;
  font-family: "Raleway-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  text-decoration: underline;
  position: absolute;
  left: 821px;
  top: 587px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div3-d {
  color: rgba(0, 0, 0, 0.75);
  text-align: center;
  font-family: "Raleway-Light", sans-serif;
  font-size: 20px;
  font-weight: 300;
  position: absolute;
  left: 138px;
  top: 333px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div4-d {
  color: rgba(0, 0, 0, 0.75);
  text-align: center;
  font-family: "Raleway-Light", sans-serif;
  font-size: 20px;
  font-weight: 300;
  position: absolute;
  left: 400px;
  top: 333px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div5-d {
  color: rgba(0, 0, 0, 0.75);
  text-align: center;
  font-family: "Raleway-Light", sans-serif;
  font-size: 20px;
  font-weight: 300;
  position: absolute;
  left: 632px;
  top: 333px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.vector-9-d {
  width: 10.5px;
  height: 16px;
  position: absolute;
  left: 354px;
  top: 336px;
  overflow: visible;
}
.vector-10-d {
  width: 10.5px;
  height: 16px;
  position: absolute;
  left: 573px;
  top: 336px;
  overflow: visible;
}