.main-div,
.main-div * {
  box-sizing: border-box;
}

.main-div {
  background: #f3f3f3;
  width: 100%;
  height: 3500px;
  

  
}

.main-rectangle-22 {
  background: #ffffff;
  width: 1920px;
  height: 242px;
  position: absolute;
  left: 0px;
  top: 2239px;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.25);
}

.main-vector-2 {
  width: 100%;
  height: 0px;
  position: absolute;
  left: 0.5px;
  top: 473px;
  overflow: visible;
}

.main-vector-3 {
  width: 1920px;
  height: 0px;
  position: absolute;
  left: 0.5px;
  top: 1047px;
  overflow: visible;
}

.main-image {
  width: 1650px;
  height: 106px;
  position: absolute;
  left: 135px;
  top: 337px;
  object-fit: cover;
}

.main-rectangle-15 {
  background: #d9d9d9;
  width: 810px;
  height: 72px;
  position: absolute;
  left: 555px;
  top: 1078px;
}

.main-image2 {
  width: 207px;
  height: 86px;
  position: absolute;
  left: 194px;
  top: 2270px;
  object-fit: cover;
}

.main-image3 {
  width: 98px;
  height: 94px;
  position: absolute;
  left: 717px;
  top: 2263px;
  object-fit: cover;
}

.main-rectangle-28 {
  background: #e0e0e0;
  width: 426px;
  height: 54px;
  position: absolute;
  left: 747px;
  top: 2522px;
}

.main-image4 {
  width: 303px;
  height: 70px;
  position: absolute;
  left: 1074px;
  top: 2277px;
  object-fit: cover;
}

.main-image5 {
  width: 810px;
  height: 490px;
  position: absolute;
  left: 135px;
  top: 511px;
  object-fit: cover;
}

.main-div2 {
  color: #231f20;
  text-align: center;
  font-family: "Raleway-Bold", sans-serif;
  font-size: 36px;
  font-weight: 700;
  position: absolute;
  left: 974px;
  top: 517px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-50 {
  color: #ffffff;
  text-align: center;
  font-family: "Raleway-Bold", sans-serif;
  font-size: 36px;
  font-weight: 700;
  position: absolute;
  left: 340px;
  top: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-div3 {
  color: #231f20;
  text-align: center;
  font-family: "Raleway-Bold", sans-serif;
  font-size: 36px;
  font-weight: 700;
  position: absolute;
  left: 879px;
  top: 1093px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-div4 {
  color: #231f20;
  text-align: center;
  font-family: "Raleway-Bold", sans-serif;
  font-size: 36px;
  font-weight: 700;
  position: absolute;
  left: 919px;
  top: 2525px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-group-169 {
  position: absolute;
  inset: 0;
}

.main-image6 {
  width: 530px;
  height: 477px;
  position: absolute;
  left: 135px;
  top: 1182px;
  object-fit: cover;
}

.main-div5 {
  color: rgba(35, 31, 32, 0.75);
  text-align: center;
  font-family: "Raleway-Bold", sans-serif;
  font-size: 36px;
  font-weight: 700;
  position: absolute;
  left: 165px;
  top: 1220px;
  width: 169px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-group-170 {
  position: absolute;
  inset: 0;
}

.main-image7 {
  width: 530px;
  height: 477px;
  position: absolute;
  left: 695px;
  top: 1182px;
  object-fit: cover;
}

.main-div6 {
  color: rgba(35, 31, 32, 0.75);
  text-align: center;
  font-family: "Raleway-Bold", sans-serif;
  font-size: 36px;
  font-weight: 700;
  position: absolute;
  left: 753px;
  top: 1220px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-group-171 {
  position: absolute;
  inset: 0;
}

.main-image8 {
  width: 530px;
  height: 477px;
  position: absolute;
  left: 1255px;
  top: 1182px;
  object-fit: cover;
}

.main-div7 {
  color: rgba(35, 31, 32, 0.75);
  text-align: center;
  font-family: "Raleway-Bold", sans-serif;
  font-size: 36px;
  font-weight: 700;
  position: absolute;
  left: 1313px;
  top: 1220px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-group-172 {
  position: absolute;
  inset: 0;
}

.main-image9 {
  width: 530px;
  height: 477px;
  position: absolute;
  left: 135px;
  top: 1704px;
  
}

.main-div8 {
  color: rgba(35, 31, 32, 0.75);
  text-align: center;
  font-family: "Raleway-Bold", sans-serif;
  font-size: 36px;
  font-weight: 700;
  position: absolute;
  left: 170px;
  top: 1748px;
  width: 169px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-group-173 {
  position: absolute;
  inset: 0;
}

.main-image10 {
  width: 530px;
  height: 477px;
  position: absolute;
  left: 695px;
  top: 1704px;
  
}

.main-div9 {
  color: rgba(35, 31, 32, 0.75);
  text-align: center;
  font-family: "Raleway-Bold", sans-serif;
  font-size: 36px;
  font-weight: 700;
  position: absolute;
  left: 753px;
  top: 1748px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-group-174 {
  position: absolute;
  inset: 0;
}

.main-image11 {
  width: 530px;
  height: 477px;
  position: absolute;
  left: 1255px;
  top: 1704px;
  object-fit: cover;
}

.main-image12 {
height: 500px;
width: 100%;}

.main-div10 {
  color: rgba(35, 31, 32, 0.75);
  text-align: center;
  font-family: "Raleway-Bold", sans-serif;
  font-size: 36px;
  font-weight: 700;
  position: absolute;
  left: 1312px;
  top: 1748px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-div11 {
  color: #231f20;
  text-align: justified;
  font-family: "Raleway-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 133px;
  top: 2373px;
  width: 328px;
  display: flex;
  align-items: center;
}

.main-div12 {
  color: #231f20;
  text-align: justified;
  font-family: "Raleway-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 632px;
  top: 2375px;
  width: 268px;
  display: flex;
  align-items: center;
}

.main-div13 {
  color: #231f20;
  text-align: justified;
  font-family: "Raleway-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 1071px;
  top: 2373px;
  width: 309px;
  display: flex;
  align-items: center;
}

.main-div14 {
  color: #231f20;
  text-align: justified;
  font-family: "Raleway-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 1551px;
  top: 2375px;
  width: 276px;
  display: flex;
  align-items: center;
}

.main-image-1 {
  width: 204px;
  height: 54px;
  position: absolute;
  left: 1587px;
  top: 2291px;
  object-fit: cover;
}

.main-group-163 {
  position: absolute;
  inset: 0;
}

.main-rectangle-31 {
  background: #00aaad;
  width: 390px;
  height: 76px;
  position: absolute;
  left: 135px;
  top: 3307px;
}

.main-div15 {
  color: #ffffff;
  text-align: left;
  font-family: "Raleway-Bold", sans-serif;
  font-size: 32px;
  font-weight: 700;
  position: absolute;
  left: 234px;
  top: 3326px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.main-group-164 {
  position: absolute;
  inset: 0;
}

.main-rectangle-32 {
  background: #00aaad;
  width: 390px;
  height: 76px;
  position: absolute;
  left: 1100px;
  top: 3307px;
}

.main-div16 {
  color: #ffffff;
  text-align: left;
  font-family: "Raleway-Bold", sans-serif;
  font-size: 32px;
  font-weight: 700;
  position: absolute;
  left: 1200px;
  top: 3326px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.main-hyggy {
  color: #231f20;
  text-align: left;
  font-family: "Raleway-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 975px;
  top: 590px;
  width: 813px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.main-gallery {
  width: 1920px;
  height: 651px;
  position: absolute;

  top: 2607px;
}

.main-group-181 {
  width: 45%;
  height: 100%;
  position: absolute;
  right: 51.23%;
  left: 50%;
  bottom: 0%;
  top: 0%;
}



.main-rectangle-29 {
  background: #d9d9d9;
  width: 100%;
  height: 20.58%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 79.42%;
}

.main-div17 {
  color: #231f20;
  text-align: left;
  font-family: "Raleway-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  right: 1.98%;
  left: 2.84%;
  width: 95.19%;
  bottom: 3.23%;
  top: 82.64%;
  height: 14.13%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.main-5 {
  color: #231f20;
  text-align: left;
  font-family: "Raleway-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  right: 28.4%;
  left: 3.09%;
  width: 68.52%;
  bottom: 87.86%;
  top: 3.53%;
  height: 8.6%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}




.main-div18 {
  color: #231f20;
  text-align: right;
  font-family: "Raleway-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  right: 3.21%;
  left: 2.22%;
  width: 94.57%;
  bottom: 2.3%;
  top: 81.87%;
  height: 15.82%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.main-div19 {
  color: #231f20;
  text-align: right;
  font-family: "Raleway-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  right: 2.84%;
  left: 28.64%;
  width: 68.52%;
  bottom: 87.86%;
  top: 3.53%;
  height: 8.6%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.main-group-183 {
  width: 21.9%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 78.1%;
  bottom: 0%;
  top: 0%;
}

.main-rectangle-312 {
  background: #d9d9d9;
  width: 100%;
  height: 20.58%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 79.42%;
}

.main-div20 {
  color: #231f20;
  text-align: right;
  font-family: "Raleway-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  right: 3.21%;
  left: 2.22%;
  width: 94.57%;
  bottom: 2.61%;
  top: 81.57%;
  height: 15.82%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.main-div21 {
  color: #231f20;
  text-align: right;
  font-family: "Raleway-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  right: 2.84%;
  left: 18.77%;
  width: 78.4%;
  bottom: 92.17%;
  top: 3.53%;
  height: 4.3%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.main-group-184 {
  width: 45%;
  height: 100%;
  position: absolute;
  right: 78.1%;
  left: 10px;
  bottom: 0%;
  top: 0%;
}

.main-2024 {
  color: #231f20;
  text-align: right;
  font-family: "Raleway-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  right: 3.21%;
  left: 2.22%;
  width: 94.57%;
  bottom: 2.46%;
  top: 81.72%;
  height: 15.82%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.main-20242 {
  color: #231f20;
  text-align: left;
  font-family: "Raleway-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  right: 11.98%;
  left: 2.22%;
  width: 85.8%;
  bottom: 92.17%;
  top: 3.53%;
  height: 4.3%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.main-arrow-left {
  width: 1.69%;
  height: 10.91%;
  position: absolute;
  right: 74.76%;
  left: 23.55%;
  bottom: 55.45%;
  top: 33.64%;
  overflow: visible;
}

.main-arrow-right {
  width: 1.69%;
  height: 10.91%;
  position: absolute;
  right: 25.21%;
  left: 73.1%;
  bottom: 55.45%;
  top: 33.64%;
  overflow: visible;
}

@media (max-width: 360px) {
  .main-div {
    height: 100%;

    
    

  }

  

  .main-rectangle-22,
  .main-rectangle-15,
  .main-rectangle-28 {
    width: 100%;
    position: static;
    margin-bottom: 10px;
  }

  .main-rectangle-31{
    width: 250px;
    top: 3400px;
    left: 50px;
  }

  .main-50{
    color: #ffffff;
    text-align: center;
    font-family: "Raleway-Bold", sans-serif;
    font-size: 16px;
    font-weight: 700;
    position: absolute;
    width: 320px;
    left: 20px;
    top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  .main-image {
    margin-left: 20px;
    height: 90px;
    width: 320px;
    top: 0px;
    left: 0px;
  }

  
.main-gallery{
  width: 100%;
}

  .main-div15{

  }

  .main-rectangle-29,
  
  .main-rectangle-312{
    height: 100px; 
    width: 100%;
    top: 3500px;
    position: absolute;
    }
  
    .main-image8,
    .main-image9,
    .main-image10{
      width: 100%;
      height: auto;
      
      position: static;
      margin-bottom: 10px;
    }

  .main-image2,
  .main-image3,
  .main-image4,
  .main-image5,
  .main-image6,
  .main-image7,
  .main-image11{
    width: 100%;
    height: auto;
    position: static;
    margin-bottom: 10px;
  }

  .main-div17{
    height: 100px;
    width: 100%;
  }

  .main-20242,
  .main-5,
  .main-div19
  {
    visibility: hidden;  }

  .main-div2{
    color: #231f20;
    text-align: center;
    font-family: "Raleway-Bold", sans-serif;
    font-size: 36px;
    font-weight: 700;
    position: absolute;
    left: 974px;
    top: 517px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main-div3,
  .main-div4 {
    font-size: 18px;
    position: static;
    padding: 10px;
    text-align: center;
  }

  
}